* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  
}
#textinitial p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #E1624F;
  font-variant: small-caps;
  text-transform: uppercase;
  width: 1120px;
  margin: 88px auto 0px;
}
#textinitial h1 {
  font-family:  "Open Sans", sans-serif;
  font-size: 36px;
  color: #1B1B1B;
  width: 1120px;
  margin:  8px auto;
}
#imagebusan {
  width: 1120px;
  height: 660px;
  box-sizing: border-box;
  margin: 40px auto;
}
#imagecaption {
  font-family:  "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: #333333;
  margin-top: 24px;
}