* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: #F5F4F0;
  width: 1120px;
  margin: auto;
}
#textinitial p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #E1624F;
  text-transform: uppercase;
  margin: 88px auto 0px;
}
#textinitial h1 {
  font-family:  "Open Sans", sans-serif;
  font-size: 36px;
  color: #1B1B1B;
  margin:  8px auto;
}
#imagebusan {
  height: 660px;
  box-sizing: border-box;
  margin: 40px auto;
}
img {
  border-radius: 28px;
}
#imagecaption {
  font-family:  "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: #333333;
  margin-top: 20px;
  padding-bottom: 40px;
  border-bottom: #D9D9D9 solid 3px;
}
#busandestinations {
  padding-top: 40px;
  margin: auto;
}
#busandestinations h2 {
  font-family:  "Open Sans", sans-serif;
  font-size: 32px;
  color: #1B1B1B;
  margin: 2px auto 8px;
}
#destinationlove {
  margin-top: 64px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #E1624F;
  text-transform: uppercase;
}
#busandescription {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  color: #1B1B1B;
  margin-bottom: 64px;
}
#busandestinations h3 {
  font-family:  "Open Sans", sans-serif;
  font-size: 28px;
  color: #1B1B1B;
  margin: 20px 0 4px 0px;
}
#templedescription {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  color: #1B1B1B;
}
#linklist {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: blue;
  font-weight: bold;
  margin: 0px 0 4px 20px;
}
#beomeotemple img {
  margin: 48px 0px 20px 0px;
}
#beomeotemple h3 {
  font-family:  "Open Sans", sans-serif;
  font-size: 28px;
  color: #1B1B1B;
  margin-bottom: 4px;
}
#beomeotempledescription {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  color: #1B1B1B;
}
#beomeolinklist {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: blue;
  font-weight: bold;
  margin: 0px 0 4px 20px;
}